
Demo/LIVBubbleMenu.xcodeproj/xcuserdata/bkirchner.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout

*.xcuserstate

*.xcscheme

Demo/LIVBubbleMenu.xcodeproj/project.pbxproj

*.plist

*.pbxproj
