Demo/LIVBubbleMenu.xcodeproj/xcuserdata/*.xcuserdatad/
Demo/LIVBubbleMenu.xcworkspace/xcshareddata/
Demo/LIVBubbleMenu.xcworkspace/xcuserdata/*.xcuserdatad/
Demo/Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/